In [100]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

df = pd.DataFrame(columns=['Neighborhood',"Description", "Price","Total Area","Covered Area","Total Rooms","Bathrooms"])


def scrap_remax(url_list, barrio):
    """Scrap the remax page for a given url and return its content."""

    # Create an empty list to store all of the data.
    data_list = []
    
    for url in url_list:

        response = requests.get(url)
        soup = BeautifulSoup(response.content, "html.parser")
        # Encontrar todos los elementos <div> con la clase "mat-ripple info"
        property_elements = soup.find_all("div", class_="mat-ripple info")

        for element in property_elements:
            description = element.find("h2", class_="description ng-star-inserted").text.strip()
            price = element.find("p", id="price").text.strip()
            total_area = element.find("p", {"data-info": "dimensionTotalBuilt"})
            covered_area = element.find("p", {"data-info":"dimensionCovered"})
            total_rooms = element.find("p", {"data-info":"totalRooms"})
            bathrooms = element.find("p", {"data-info":"bathrooms"})
            
            
            data_list.append({
                'Neighborhood': barrio,
                "Description": description,
                "Price": price,
                "Total Area": total_area,
                "Covered Area": covered_area,
                "Total Rooms": total_rooms,
                "Bathrooms": bathrooms
            })

        df_aux = pd.DataFrame(data_list)

    return df_aux

In [101]:
url_puerto_madero = ["https://www.remax.com.ar/listings/buy?page=0&pageSize=1000&sort=-createdAt&in:operationId=1&locations=in::::25032@%3Cb%3EPuerto%3C%2Fb%3E%20%3Cb%3EMader%3C%2Fb%3Eo:::&filterCount=0&viewMode=list"]

url_palermo = ['https://www.remax.com.ar/listings/buy?page=0&pageSize=1000&sort=-createdAt&in:operationId=1&locations=in::::25024@%3Cb%3EPalermo%3C%2Fb%3E#%20Capital%20Federal:::&filterCount=0&viewMode=list']

url_villa_soldati = ['https://www.remax.com.ar/listings/buy?page=0&pageSize=1000&sort=-createdAt&in:operationId=1&locations=in::::25053@%3Cb%3EVilla%3C%2Fb%3E%20%3Cb%3ESoldat%3C%2Fb%3Ei#%20Capital%20Federal:::&filterCount=0&viewMode=list']

url_retiro = ['https://www.remax.com.ar/listings/buy?page=0&pageSize=1000&sort=-createdAt&in:operationId=1&locations=in::::25034@%3Cb%3ERetiro%3C%2Fb%3E#%20Capital%20Federal:::&filterCount=0&viewMode=list']

url_recoleta= ['https://www.remax.com.ar/listings/buy?page=0&pageSize=1000&sort=-createdAt&in:operationId=1&locations=in::::25033@Recoleta:::&filterCount=0&viewMode=list']
url_villa_devoto = ['https://www.remax.com.ar/listings/buy?page=0&pageSize=1000&sort=-createdAt&in:operationId=1&locations=in::::25044@%3Cb%3EVilla%3C%2Fb%3E%20%3Cb%3EDevoto%3C%2Fb%3E#%20Capital%20Federal:::&filterCount=0&viewMode=list']
url_san_telmo = ['https://www.remax.com.ar/listings/buy?page=0&pageSize=1000&sort=-createdAt&in:operationId=1&locations=in::::25038@%3Cb%3ESan%3C%2Fb%3E%20%3Cb%3ETelmo%3C%2Fb%3E#%20Capital%20Federal:::&filterCount=0&viewMode=list']
url_belgrano = ['https://www.remax.com.ar/listings/buy?page=0&pageSize=1000&sort=-createdAt&in:operationId=1&locations=in::::25006@%3Cb%3EBelgrano%3C%2Fb%3E#%20Capital%20Federal:::&filterCount=0&viewMode=list']
url_versalles = ['https://www.remax.com.ar/listings/buy?page=0&pageSize=1000&sort=-createdAt&in:operationId=1&locations=in::::25041@%3Cb%3EVersalles%3C%2Fb%3E#%20Capital%20Federal:::&filterCount=0&viewMode=list']
url_nunes = ['https://www.remax.com.ar/listings/buy?page=0&pageSize=1000&sort=-createdAt&in:operationId=1&locations=in::::25022@Nu%C3%B1ez#%20Capital%20Federal:::&filterCount=0&viewMode=list']




df = pd.concat([df,scrap_remax(url_puerto_madero,'Puerto Madero')],ignore_index=True)
df = pd.concat([df,scrap_remax(url_palermo,'Palermo')],ignore_index=True)
df = pd.concat([df,scrap_remax(url_villa_soldati,'Villa Soldati')],ignore_index=True)
df = pd.concat([df,scrap_remax(url_retiro,'Retiro')],ignore_index=True)
df = pd.concat([df,scrap_remax(url_recoleta,'Recoleta')],ignore_index=True)
df = pd.concat([df,scrap_remax(url_villa_devoto,'Villa Devoto')],ignore_index=True)
df = pd.concat([df,scrap_remax(url_san_telmo,'San Telmo')],ignore_index=True)
df = pd.concat([df,scrap_remax(url_belgrano,'Belgrano')],ignore_index=True)
df = pd.concat([df,scrap_remax(url_versalles,'Versalles')],ignore_index=True)
df = pd.concat([df,scrap_remax(url_nunes,'Nuñez')],ignore_index=True)
df.head()

,Neighborhood,Description,Price,Total Area,Covered Area,Total Rooms,Bathrooms
0,Puerto Madero,Departamento en venta en Avenida Ingeniero Hue...,145.000 USD,"[[35], m² totales ]","[[31], m² cubiertos ]","[[1], ambientes ]","[[1], baños ]"
1,Puerto Madero,Departamento monoambiente en venta en Ingenier...,213.000 USD,"[[58], m² totales ]","[[47], m² cubiertos ]","[[1], ambientes ]","[[1], baños ]"
2,Puerto Madero,Departamento en venta en Azucena Villaflor 500...,1.100.000 USD,"[[124.1], m² totales ]","[[112.51], m² cubiertos ]","[[3], ambientes ]","[[2], baños ]"
3,Puerto Madero,Departamento en venta en Azucena Villaflor 500...,1.350.000 USD,"[[149.35], m² totales ]","[[142.85], m² cubiertos ]","[[3], ambientes ]","[[2], baños ]"
4,Puerto Madero,Departamento semipiso en venta en Juana Manso ...,1.278.245 USD,"[[230.2], m² totales ]","[[225.2], m² cubiertos ]","[[4], ambientes ]","[[3], baños ]"

In [102]:
df_test = df.copy()
display(df.head(3))
display(df_test.head(3))

,Neighborhood,Description,Price,Total Area,Covered Area,Total Rooms,Bathrooms
0,Puerto Madero,Departamento en venta en Avenida Ingeniero Hue...,145.000 USD,"[[35], m² totales ]","[[31], m² cubiertos ]","[[1], ambientes ]","[[1], baños ]"
1,Puerto Madero,Departamento monoambiente en venta en Ingenier...,213.000 USD,"[[58], m² totales ]","[[47], m² cubiertos ]","[[1], ambientes ]","[[1], baños ]"
2,Puerto Madero,Departamento en venta en Azucena Villaflor 500...,1.100.000 USD,"[[124.1], m² totales ]","[[112.51], m² cubiertos ]","[[3], ambientes ]","[[2], baños ]"

,Neighborhood,Description,Price,Total Area,Covered Area,Total Rooms,Bathrooms
0,Puerto Madero,Departamento en venta en Avenida Ingeniero Hue...,145.000 USD,"[[35], m² totales ]","[[31], m² cubiertos ]","[[1], ambientes ]","[[1], baños ]"
1,Puerto Madero,Departamento monoambiente en venta en Ingenier...,213.000 USD,"[[58], m² totales ]","[[47], m² cubiertos ]","[[1], ambientes ]","[[1], baños ]"
2,Puerto Madero,Departamento en venta en Azucena Villaflor 500...,1.100.000 USD,"[[124.1], m² totales ]","[[112.51], m² cubiertos ]","[[3], ambientes ]","[[2], baños ]"

In [103]:
# replacing data values to the right ones
df_test['Total Area'] = df_test['Total Area'].astype(str)
df_test["Total Area"] = df_test["Total Area"].str.extract(r'<span[^>]*>([\d.]+)<\/span>')
df_test['Total Area'] = df_test['Total Area'].astype(float)

df_test["Price"] = df_test["Price"].str.replace(r'[^\d]', '', regex=True)
df_test["Price"] = df_test["Price"].str.extract(r'([\d.]+)').astype(float)

df_test['Covered Area'] = df_test['Covered Area'].astype(str)
df_test["Covered Area"] = df_test["Covered Area"].str.extract(r'<span[^>]*>([\d.]+)<\/span>')
df_test['Covered Area'] = df_test['Covered Area'].astype(float)

df_test['Total Rooms'] = df_test['Total Rooms'].astype(str)
df_test["Total Rooms"] = df_test["Total Rooms"].str.extract(r'<span[^>]*>([\d.]+)<\/span>')
df_test['Total Rooms'] = df_test['Total Rooms'].astype(float)

df_test['Bathrooms'] = df_test['Bathrooms'].astype(str)
df_test["Bathrooms"] = df_test["Bathrooms"].str.extract(r'<span[^>]*>([\d.]+)<\/span>')
df_test['Bathrooms'] = df_test['Bathrooms'].astype(float)

display(df.head(3))
display(df_test.head(3))
df_test.info()

,Neighborhood,Description,Price,Total Area,Covered Area,Total Rooms,Bathrooms
0,Puerto Madero,Departamento en venta en Avenida Ingeniero Hue...,145.000 USD,"[[35], m² totales ]","[[31], m² cubiertos ]","[[1], ambientes ]","[[1], baños ]"
1,Puerto Madero,Departamento monoambiente en venta en Ingenier...,213.000 USD,"[[58], m² totales ]","[[47], m² cubiertos ]","[[1], ambientes ]","[[1], baños ]"
2,Puerto Madero,Departamento en venta en Azucena Villaflor 500...,1.100.000 USD,"[[124.1], m² totales ]","[[112.51], m² cubiertos ]","[[3], ambientes ]","[[2], baños ]"

,Neighborhood,Description,Price,Total Area,Covered Area,Total Rooms,Bathrooms
0,Puerto Madero,Departamento en venta en Avenida Ingeniero Hue...,145000.0,35.0,31.00,1.0,1.0
1,Puerto Madero,Departamento monoambiente en venta en Ingenier...,213000.0,58.0,47.00,1.0,1.0
2,Puerto Madero,Departamento en venta en Azucena Villaflor 500...,1100000.0,124.1,112.51,3.0,2.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3442 entries, 0 to 3441
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Neighborhood  3442 non-null   object
 1   Description   3442 non-null   object
 2   Price         3418 non-null   float64
 3   Total Area    3371 non-null   float64
 4   Covered Area  3364 non-null   float64
 5   Total Rooms   3090 non-null   float64
 6   Bathrooms     3214 non-null   float64
dtypes: float64(5), object(2)
memory usage: 188.4+ KB

In [104]:
df_test.to_csv("venta_casas.csv",index=False)